= form_for @post do |form|
  = form.error_messages

  %p
    = form.label :title, 'title'
    = form.text_field :title

  %p
    = form.label :text, 'text'
    = form.text_area :text

  %p
    = form.label :tag_texts, 'tags'
    = form.text_field :tag_texts

  %p
    = form.submit "post to blog"
