%h1 Welcome
%p Read more #{link_to "about me", root_path}, head to the #{link_to "archive", root_path} for older projects, or check out my latest experiments below.
- @posts.each do |post|
  .transbox
    %h2= link_to post.title, post_path(post)
    %p= post.text
    = link_to "comment on this post", new_post_comment_path(post)

