.transbox
  %h2= @post.title
  %p= @post.text
  .tags= @post.tag_texts
  %p= link_to 'Edit', edit_post_path
  - @post.comments.each do |comment|
    .allpurposedivider
    %h4.creator-alias= comment.creator_alias
    %div= comment.comment_text
