!!! 5

%html
  %head
    %title Elizabeth's Code Blog
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=IM+Fell+English'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC'
    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body
    .topbox
      %h1 Elizabeth Codes
    %p.notice= notice
    %p.alert= alert
    = yield
.clear
